html {
    height: 99%;
}
body {
    height: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
    margin: 0;
}
.center{
    display: flex;
    /*height: calc(100% - 12px);*/
    height: 100%;
    align-content: space-between;
}
#left {
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    /*height: calc(100% - 22px);*/
    height:100%;
    border-right: 1px solid #bcbcbc;
    z-index: 2;
}
.clickName {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clickName.active {
    background-color: #f1f6fd;
}
#left .container {
    background-color: white;
    border-top: 1px solid #d6d6d6;
    height: calc(100% - 22px);
    overflow-y: auto;
}
.title {
    display: block;
    /*text-align: center;*/
    font-size: 14px;
    color: black;
    padding-bottom: 2px;
    padding-left: 5px;
}
.footer {
    width:100%;
    display: block;
    /*text-align: center;*/
    font-size: 14px;
    color: black;
    padding: 2px;
    align-self: center;
}
#right {
    width: 75%;
    height: 100%;
    display:none;
    background-color: #f3f3f3;
}
.showInfo {
    font-size: 12px;
    color: #323232;
    line-height: 22px;
    letter-spacing: 0.1px;
    overflow-y:auto;
    margin-top: 22px;
    height: 95%;
    padding: 0 20px 20px 20px;
    background: white;
}
.showInfo .subtitle, .json-formatter-key {
    font-weight: 700;
}
.showInfo .subtitle.indent {
    margin-left: 20px;
}
.showInfo hr {
    border:0;
    background-color:#d6d6d6;
    height:1px;
}

#left #requestTable {
    width: 100%
}

#requestTable.onlyName .canHide{
    display:none;
}
#left #requestTable th {
    text-align: left;
    font-weight: normal;
    background-color: #f3f3f3;
    border-bottom: 1px solid #d6d6d6;
    font-size: 12px;
    padding: 3px;
    border-right: 1px solid #d6d6d6;
}
#requestTable td {
    padding: 3px;
    border-right: 1px solid #d6d6d6;
}
#requestTable tr:not(:nth-child(1)):hover {
    background-color: #f1f6fd;
}

#requestTable tr:not(:nth-child(1)) td:nth-child(1) {
    cursor: pointer;
}

#requestTable tr:nth-child(odd) {
    background-color: #f3f3f3;
}

#clearBtn {
    border: none;
    padding: 0 0 0 3px;
    font-size: 14px;
    font-weight: normal;
    background-color: transparent;
    cursor: pointer;
}
#clearBtn:active {
    color: #939393;
}
#clearBtn:focus {
    border: none;
    outline: none;
}
.tabBtnDiv {
    position: fixed;
    right: 25%;
    left: 25%;
}

.tabBtn {
    border: none;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 20px 3px 20px;
    color: #323232;
    background-color: transparent;
    cursor: pointer;
}
.tabBtn:hover {
    background-color: #eaeaea;
}
.tabBtn:active {
    color: #939393;
}
.tabBtn:focus {
    border: none;
    outline: none;
}
.tabBtn.active {
    border-bottom: 2px solid #1a73e8;
}
.tab.hide {
    display: none;
}

.footer{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.content p{
    margin: 0;
    display:inline-block;
}
.content p.padding{
    padding-right: 100%;
}

