html {
    height: 99%;
}
body {
    height: 100%;
    overflow: hidden;
    background-color: #efefef;
    margin: 0;
}
.center{
    display: flex;
    /*height: calc(100% - 12px);*/
    height: 100%;
    align-content: space-between;
}
#left {
    left: 0;
    width: 100%;
    background-color: #efefef;
    /*height: calc(100% - 22px);*/
    height:100%;
    border-right: 1px solid #bcbcbc;
    z-index: 2;
}
.clickName {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#left .container {
    background-color: white;
    border-top: 1px solid #d6d6d6;
    height: calc(100% - 22px);
    overflow-y: auto;
}
.title {
    display: block;
    /*text-align: center;*/
    font-size: 14px;
    color: black;
    padding-bottom: 2px;
    padding-left: 5px;
}
.footer {
    width:100%;
    display: block;
    /*text-align: center;*/
    font-size: 14px;
    color: black;
    padding: 2px;
    align-self: center;
}
#right {
    width: 75%;
    height: 100%;
    background: white;
    display:none;
    padding: 20px;
}
#info {
    font-size: 12px;
    color: #323232;
    line-height: 22px;
    letter-spacing: 0.1px;
    overflow-y:auto;
    height: 95%;
}
#info .subtitle, .json-formatter-key {
    font-weight: 700;
}
#info .subtitle.indent {
    margin-left: 20px;
}
#info hr {
    border:0;
    background-color:#d6d6d6;
    height:1px;
}

#left #requestTable {
    width: 100%
}

#requestTable.onlyName .canHide{
    display:none;
}
#left #requestTable th {
    text-align: left;
    font-weight: normal;
    background-color: #efefef;
    border-bottom: 1px solid #d6d6d6;
    font-size: 12px;
    padding: 3px;
    border-right: 1px solid #d6d6d6;
}
#requestTable td {
    padding: 3px;
    border-right: 1px solid #d6d6d6;
}
#requestTable tr:not(:nth-child(1)):hover {
    background-color: #f1f6fd;
}

#requestTable tr:not(:nth-child(1)) td:nth-child(1) {
    cursor: pointer;
}

#requestTable tr:nth-child(odd) {
    background-color: #efefef;
}

#clearBtn {
    border: none;
    padding: 0 0 0 3px;
    font-size: 14px;
    font-weight: normal;
}
#clearBtn:active {
    color: #939393;
}
#clearBtn:focus {
    border: none;
    outline: none;
}

.footer{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.content p{
    margin: 0;
    display:inline-block;
}
.content p.padding{
    padding-right: 100%;
}

